html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    color: #666;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;

}
.pimg1{
    background-image: url(p1.png);
    min-height: 100%;
}
.pimg2{
    background-image: url(p2.png);
    min-height: 400px;
}
.pimg3{
    background-image: url(p1.png);
    min-height: 400px;
}

.pimg1,.pimg2,.pimg3{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
background-size:cover;/*to cover the image full screen*/
background-attachment: fixed;

}
.ptext{
    position: absolute;
    top: 50%;
    font-size: 30px;
    color: white;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;


}
.bg{
    background-color: rgb(184, 126, 10);
    padding: 20px;
}
.section{
    padding: 50px 80px;
    text-align: center;
}
.tex-1{
    background-color: #979191;
    color: #fff;
}
.tex-2{
    background-color: #5e5b5b;
    color: #fff;
}